@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.PublishedContent
@using System.Collections.Generic
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<header class="w-full">
    <div class="bg-bg-darkgreen">
        <div class="page-container flex items-center justify-between text-white">
            <div>
                <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
            </div>

            <div class="flex items-center gap-4">
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="~/images/Facebook.svg" alt="Facebook" />
                </a>

                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                    <img src="~/images/Twitter.svg" alt="Twitter" />
                </a>

                <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                    <img src="~/images/LinkedIn.svg" alt="LinkedIn" />
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white space-between">
        <div class="page-container flex items-center justify-between py-2">
            <div class="flex items-center gap-2">
                <img src="~/images/Symbol.svg" alt="Onatrix Logo" />
                <h3>Onatrix</h3>
            </div>

            @{
                var roots = Umbraco.ContentAtRoot().ToList();

                var menuItems = new List<IPublishedContent>();

                foreach (var root in roots)
                {
                    menuItems.Add(root);

                    foreach (var child in root.Children)
                    {
                        menuItems.Add(child);
                    }
                }
            }

            <nav>
                <ul class="flex items-center gap-10">
                    @foreach (var item in menuItems)
                    {
                        <li>
                            <a href="@item.Url()">@item.Name</a>
                        </li>
                    }
                </ul>
            </nav>

            <div>
                <img src="~/images/Search.svg" alt="Search" />
            </div>
        </div>
    </div>
</header>
