@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="relative h-[748px] overflow-hidden">
    <img src="/images/MapBG.svg"
         alt="Map of where to find Onatrix."
         class="w-full h-full object-cover block" />
</section>

<!-- floating form, lägg i egen fil om hinna -->
<div id="contact-float-form"
     class="fixed left-1/2 top-[830px] -translate-x-1/2 -translate-y-1/2 w-full z-[9999] pointer-events-auto">
    <div class="mx-auto max-w-[1170px] bg-white rounded-md shadow-2xl border border-dark-grey/20 p-10">

        <p class="eyebrow text-center">Request a call back</p>
        <h2 class="mt-2 text-center">Let us know about your<br /> next project</h2>

        <p class="mt-4 text-light-grey text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas<br />
            consectetur, ligula semper sagittis lobortis, eros metus efficitur purus.
        </p>

        <form class="mt-6 grid grid-cols-2 gap-4 p-15">
            <input class="input-box" placeholder="Name" />
            <input class="input-box" placeholder="Phone" />
            <input class="input-box" placeholder="Email address" />
            <input class="input-box" placeholder="Financial consulting" />
            <div class="col-span-2 flex justify-center pt-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>
