<section>
    <div class="page-container">
        <p class="eyebrow pt-24">ABOUT US</p>
        <h2>We have 40 years experience</h2>
        <p class="quote pt-6">“We have over 25 years of experience providing expert financial<br />advice to both businesses and individuals.”</p>
        <p class="t-lg pt-6">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint<br /> occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
        <img class="pt-2" src="/images/OnlineSignature.svg" alt="Online signatur">
        <p class="text-light-grey pt-6 pb-24">Tina Fox - CEO & Founder</p>
    </div>
</section>
