<section>
    <div class="page-container text-center relative">
        <img class="w-full" src="/images/DotMap.svg" alt="World dot map background" />

        <div class="absolute inset-0 pt-24 z-10">
            <h2>We are trusted by more than</h2>
            <h2 class="text-mid-beige">4.000+ clients</h2>
            <p class="pt-6 pb-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla.<br />
                Nam accumsan porttitor arcu, ac tincidunt lectus tincidunt sed.
            </p>
            <button class="btn btn-primary">Read our story</button>
        </div>

        <div>
            <img src="/images/People.svg" alt="Office people" />
        </div>
    </div>
</section>
