@{
    var heroBg = Url.Content("~/images/Hero-img.svg");
}

<section class="relative bg-cover bg-center min-h-[552px]"
         style="background-image: url('@heroBg');">

    <div class="relative page-container pt-16 pb-24">
        <h1>We bring<br />success to you</h1>

        <p class="pt-8 text-light-grey max-w-[520px]">
            Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>

        <div class="pt-6">
            <a href="/contact" class="btn btn-primary">Contact us</a>
        </div>
    </div>
</section>
