@* Views/Partials/Home/_Success.cshtml *@

@{
    var bg = Url.Content("~/images/DotMap-2.svg");
    var people = Url.Content("~/images/People-2.svg");
}

<section class="relative min-h-[838px] bg-bg-darkgreen text-center bg-no-repeat bg-center bg-contain"
         style="background-image: url('@bg');">

    <div class="page-container flex flex-col items-center">
        <p class="eyebrow pt-24">SUCCESS STORIES</p>
        <h2 class="text-light-beige mt-2">Success story</h2>

        <div class="mt-8 flex justify-center items-start gap-12">

            <div>
                <p class="eyebrow-s text-[75px]">689</p>
                <p class="text-white">More than 100 customers has<br />been served</p>
            </div>

            <div>
                <p class="eyebrow-s text-[75px]">370</p>
                <p class="text-white">More than 370 projects has<br />been completed</p>
            </div>

            <div>
                <p class="eyebrow-s text-[75px]">125</p>
                <p class="text-white">More than 125 branches has<br />been established in Europe and America</p>
            </div>

        </div>
    </div>

    <div class="absolute left-1/2 -translate-x-1/2 bottom-[-100px] z-10">
        <img src="@people" alt="" />
    </div>

</section>

