@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="bg-bg-lightgrey">
    <div class="page-container flex pt-6 gap-12">

        <div class="relative flex items-end">
            <img src="/images/DotBG.svg"
                 alt=""
                 class="absolute bottom-0 left-0 z-0" />
            <img src="/images/HappyMan.svg"
                 alt="A happy man."
                 class="relative bottom-0 z-10" />
        </div>

        <div class="pt-24 pb-24 max-w-[420px]">
            <h2>Let us know about<br />your next project</h2>

            <div class="pt-6 flex items-start gap-2">
                <i class="fa-solid fa-location-dot text-[24px] text-mid-beige"></i>
                <div>
                    <p class="font-semibold">Office location</p>
                    <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                </div>
            </div>

            <div class="pt-6 flex items-start gap-2">
                <i class="fa-solid fa-phone text-[24px] text-mid-beige"></i>
                <div>
                    <p class="font-semibold">Phone number</p>
                    <p><a href="tel:+46812345675">+46 8 123 456 75</a></p>
                </div>
            </div>

            <div class="pt-6 flex items-start gap-2">
                <i class="fa-solid fa-envelope text-[24px] text-mid-beige"></i>
                <div>
                    <p class="font-semibold">E-mail address</p>
                    <p><a href="mailto:sales@onatrix.com">sales@onatrix.com</a></p>
                </div>
            </div>

        </div>

    </div>
</section>
