@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section>
    <div class="page-container flex pt-12 gap-6">
        <div>
            <img src="/images/OfficeLady.svg" alt="Woman in office.">
            <p class="text-dark-grey pt-2 pb-6">Tina Fox - CEO &amp; Founder at Onatrix</p>
        </div>

        <div class="text-dark-grey">
            <p class="pb-6 text-[20px]">“We have over 25 years of experience providing expert financial advice<br /> to both businesses and individuals.”</p>
            <p class="pb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin.<br /> Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.</p>
            <p class="pb-6">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec<br /> elit. Suspendisse rutrum.</p>
            <p class="pb-6">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est.<br /> Pellentesque imperdiet tortor ut elementum viverra.</p>
            <p class="pb-6">Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis<br /> nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat<br />, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus<br /> viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.</p>
            <p class="pb-6">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec<br /> elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.</p>
            <p class="pb-6">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est.<br /> Pellentesque imperdiet tortor ut elementum viverra.</p>
            <p class="pb-6">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est.<br /> Pellentesque imperdiet tortor ut elementum viverra.</p>
        </div>
    </div>
</section>
