@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section>
    <div class="page-container pt-8 pb-12">
        <div class="text-center">
            <p class="eyebrow">Our expert</p>
            <h2>A team of professionals<br />with years of experience</h2>
        </div>

        <div class="flex gap-6 pt-4 pb-8">
            <div class="border-card">
                <img src="/images/Brandon-Newton.svg" alt="Financial Advisor at Onatrix Brandon Newton.">
                <div class="card-padding">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
            </div>
            <div class="border-card">
                <img src="/images/AJ-Carte.svg" alt="Financial Advisor at Onatrix AJ Carte.">
                <div class="card-padding">
                    <h5>AJ Carter</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
            </div>
            <div class="border-card">
                <img src="/images/Aaron-Lambert.svg" alt="Business Specialist at Onatrix Aaron Lambert.">
                <div class="card-padding">
                    <h5>Aaron Lambert</h5>
                    <p>Business Specialist at Onatrix</p>
                </div>
            </div>
        </div>

        <div class="flex gap-6">
            <div class="border-card">
                <img src="/images/Tina-Fox.svg" alt="CEO & Founder at Onatrix Tina Fox.">
                <div class="card-padding">
                    <h5>Tina Fox</h5>
                    <p>CEO & Founder at Onatrix</p>
                </div>
            </div>
            <div class="border-card">
                <img src="/images/Brandon-Kerr.svg" alt=" CFO & Co-Founderat Onatrix Brandon Kerr.">
                <div class="card-padding">
                    <h5>Brandon Kerr</h5>
                    <p> CFO & Co-Founderat Onatrix</p>
                </div>
            </div>
            <div class="border-card">
                <img src="/images/Miranda-Dayton.svg" alt="Head of HR at Onatrix Miranda Dayton.">
                <div class="card-padding">
                    <h5>Miranda Dayton</h5>
                    <p>Head of HR at Onatrix</p>
                </div>
            </div>
            <div class="border-card">
                <img src="/images/Kevin-Gardner.svg" alt="Banking Advisor at Swedbank Kevin Gardner.">
                <div class="card-padding">
                    <h5>Kevin Gardner</h5>
                    <p>Banking Advisor at Swedbank</p>
                </div>
            </div>
        </div>
    </div>
</section>

