@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="bg-bg-lightgrey">
    <div class="page-container flex gap-8 items-start py-12">
        <div class="max-w-[640px]">
            <p class="eyebrow">GREAT REVIEWS FOR OUR SERVICES</p>
            <h2>Trusted by some Biggest Names</h2>

            <p class="text-light-grey pt-4">
                Seamlessly visualize quality intellectual capital without<br />
                superior collaboration and idea-sharing. Holistically<br />
                pontificate installed base portals.
            </p>

            <div class="flex pt-2" aria-label="5 star rating">
                <img src="/images/IconStar.svg" alt="Rating star">
                <img src="/images/IconStar.svg" alt="Rating star">
                <img src="/images/IconStar.svg" alt="Rating star">
                <img src="/images/IconStar.svg" alt="Rating star">
                <img src="/images/IconStar.svg" alt="Rating star">
            </div>

            <p class="text-dark-grey pt-2">Kevin Gardner</p>
            <p class="text-dark-grey text-[20px]">Swedbank</p>
        </div>

        <div class="shrink-0">
            <img src="/images/OfficeMan.svg" alt="Office man">
        </div>
    </div>
</section>
