@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section>
    <div class="page-container text-center pt-8 pb-4">
        <h2>We Provide The Solutions<br />To Grow Your Business Faster</h2>
    </div>
</section>
